@import "../../global.scss";

.menu{
    width: 250px;
    height: 100vh;
    z-index: 2;
    position: fixed;
    top:0;
    right:-250px;
    background-color: $globalColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    

    
    
    ul{
       color: white;
       margin:0;
       padding:0;
        list-style: none;
    //    display: flex;
       font-size: 26px;
       font-weight:300;
    //    flex-direction: column;
       
       
    }
    
    li{
        color: white;
        font-size: 20px;
        margin-bottom: 20px;
        transition: all 1s ease;
        margin-left: 20px;
        font-weight:300;
        
        
        a{
            text-decoration: none;
            color: inherit;
            font-size: inherit
            
            
            
        }&:hover{
            font-weight:500;
        
        }
        
        
    }
    &.active{
        right: 0;
    }
}