.app{
    height: 100vh;

    .sections{
        height: calc(100vh - 70px);
        width: 100%;
        background-color: darkorchid;
        position: relative;
        top:70px;

        > *{
            width: 100vw;
            height: calc(100vh - 70px);

        }
    }
}
